.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em 2em;

    background: rgba(40, 40, 40, 0.65);          /* translúcido */
    backdrop-filter: blur(10px);                 /* efeito vidro */
    -webkit-backdrop-filter: blur(10px);         /* Safari */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);   /* sombra leve */

    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 10;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item a:hover {
    color: #4726db;
    text-decoration: none;
    transition: 0.5s;
}

.imglogo {
    display: flex;
    align-items: center;
}