.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item a:hover {
    color: #4726db;
    text-decoration: none;
<<<<<<< HEAD
=======
    transition: 0.5s;
}

.imglogo {
    display: flex;
    align-items: center;
>>>>>>> 0d2ab63 (segundo commit)
}