
.modal {
    background-color: #222;
    color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.modal h1 {
    margin-bottom: 15px;
}

.colorGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-bottom: 15px;
}

.colorGrid button:hover {
  transform: scale(1.05);
}

/* Estilo geral para os botões */
.colorGrid button {
    margin-top: 15px;
    padding: 25px 60px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}

.colorGrid button:hover {
    opacity: 0.8;
}


/* Cores */
.vermelho {
    background-color: #e63946;
    color: white;
}

.verde {
    background-color: #05ca4d;
    color: white;
}

.amarelo {
    background-color: #ffff00;
    color: black;
}

.azul {
    background-color: #5512ff;
    color: white;
}

.ciano {
    background-color: #00bcd4;
    color: white;
}

.roxo {
    background-color: #9b5de5;
    color: white;
}


