.container {
    display: flex;
    flex-direction: row-reverse;

    width: 100%;

    margin-top: 20vw;
    margin-bottom: 10vw;
    margin-left: -3vw;
}


/* ============================= */
/* GRÁFICO DE TEMPERATURA */
/* ============================= */

.containerTemp {
    width: 40vw;
    height: 34vw;

    margin-left: 20px;

    background-color: rgb(36, 39, 41);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;

    margin-top: 25px;
    margin-bottom: -15px;

    color: aliceblue;
}

.graficoTemp {
    width: 40vw;
    height: 35vw;
}


/* ============================= */
/* GRÁFICO DE PICOS */
/* ============================= */


.graficoBarras {
    width: 51vw;
    height: 35vw;
    margin-left: 0;

}