.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    
    background-color: #222;
    padding: 25px 55px;
    color: #FFF;
    border-radius: 15px;
    font-size: 1.5em;
    cursor: pointer ;
    transition: 0.5s;  
    font-weight: bold;
    margin-left: 40px;
  
}

.button:hover {
    color: blue;
}

.buttonSRouter {
    background-color: #222;
    padding: 25px 55px;
    color: #FFF;
    border-radius: 15px;
    font-size: 1.5em;
    cursor: pointer ;
    transition: 0.5s;  
    font-weight: bold;
    margin-left: 15px;
}

.buttonSRouter:hover {
    color: blue;
}

.buttonEstrutura {
    background-color: #222;
    padding: 25px 55px;
    color: #FFF;
    border-radius: 15px;
    font-size: 1.5em;
    cursor: pointer ;
    transition: 0.5s;  
    font-weight: bold;
    margin-left: 35px;
}

.buttonEstrutura:hover {
    color: blue;
}