.container {
    width: 40vw;
    height: 35vw;

    margin-top: 17vw;
    margin-bottom: 10vw;

    color: white;
}

.container img {
    width: 40vw;
    height: 35vw;

    border: 3px solid #000;
    border-radius: 25px;
    object-fit: cover;
}