.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px;
    align-items: start;
    margin-top: 45px;
    margin-bottom: -155px;
    margin-left: -55px;
}

/* Gráfico - Nível de Água */
.homeNivelAgua_Dashbord {
    width: 100%;
    max-width: 650px;
    justify-self: center;

    transform: translate(-350px, 0px) scale(1);
}

/* Câmera */
.homeCamera_Dashbord {
    width: 100%;
    max-width: 650px;
    height: 100%;
    max-height: 650px;
    justify-self: center;

    transform: translate(0px, 0px) scale(1);
}

/* Temperatura */
.homeTemperature_DashBord {
    transform: translate( -0px, -275px);
}