.container_homeLeds {
    display: flex;
    align-items: flex-start;
    padding: 6em;  
    min-height: 90vh;
    margin-top: 150px;
}
.botoes{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #2371e7;
    color: #FFF;
    padding: 15px 70px;
    border-radius: 15px;
    font-size: 1.5em;
    cursor: pointer ;
    font-weight: bold;
    border: none;
}

.buttons:hover {
    color:  #110250;
    transition: 0.5s;
    opacity: 0.5;
    transform: scale(1.05);
}

.LedsOn {
  
  color: #00ff80;
  transition: background-color 0.3s ease;
}

.painel {
    width: 600px;
    margin-left: 200px;
}