.container {
    display: flex;
    align-items: flex-start;
    padding: 6em;  
    min-height: 90vh;
    margin-top: 125px;
    margin-left: -5vw;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

.button {
    display: flex;
    align-items: center;
    background-color: #2371e7;
    padding: 0.9vw 7vw;
    color: #FFF;
    border-radius: 15px;
    border: none;
    font-size: 2vw;
    cursor: pointer ;
    transition: 0.5s;  
    font-weight: bold;
    margin-left: 15px;
}

.button:hover {
    color:  #110250;
    transition: 0.5s;
    opacity: 0.5;
    transform: scale(1.05);
}

.painelSensor {
    width: 100%;
    width: 590px;
    margin-left: 2vw;
    transform: scale(0.85);
    margin-top: -7vw;
}