
.home {
    display: flex;
    align-items: center;
    height: 78vh;
    margin-bottom: 105px;
}

.routerVideo {
    position: absolute;

    width: 47vw;
    height: 47vw;

    object-fit: contain;

    left: clamp(450px, 50vw, 920px);
    margin-top: 155px;

    z-index: 2;
}

.backgroundVideo {
    position: absolute;

    width: 50%;
    height: 50%;
    margin-top: 195px;
  
    object-fit: cover;
    left: clamp(20px, 5vw, 55px);

    z-index: 1;
}