.container_homeLeds {
    display: flex;
    align-items: flex-start;
    padding: 6em;  
    min-height: 90vh;
    margin-top: 125px;
    margin-left: -2vw;
}
.botoes{
    display: flex;
    flex-direction: column;
    gap: 4vw;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2371e7;
    color: #FFF;
    padding: 0.9vw 7vw;
    border-radius: 15px;
    font-size: 2vw;
    cursor: pointer ;
    font-weight: bold;
    border: none;
}

.buttons:hover {
    color:  #110250;
    transition: 0.5s;
    opacity: 0.5;
    transform: scale(1.05);
}

.LedsOn {
  
  color: #00ff80;
  transition: background-color 0.3s ease;
}

.painel {
    width: 100%;
    width: 580px;
    margin-left: 4vw;
    transform: scale(0.85);
    margin-top: -4vw;
    
}