.container {
    margin-top: 225px;
    margin-bottom: 100px;
    margin-left: 50px;
    color: aliceblue;
    background-color: rgb(36, 39, 41);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 500px;
    text-align: center;
    margin-top: 35px;
}